<h1>Eat-Da-Burger</h1>



<ul>
  {{#each burgers}}
  <li>
    <p>ID: {{this.id}}</p>
    <p>Burger: {{this.burger_name}}</p>
  </li>
  {{/each}}
</ul>





<form>

  <input type="text" class="burger-input"></input>
  <button type="submit" class="burger-submit">Submit</button>

</form>