h1 {
    color: white;
    text-align: center;
    
}

.col-3 {
    background-color: lightgray;
    font-weight: bold;
}

.col-4 {
    background-color: lightgray;
    font-weight: bold;
}

.create-form {
    text-align: center;
    margin: 20px;
}

p {
    text-align: center;
    font-weight: bold;
    color: white;
}


.container-fluid {
    background-color: rgb(102, 122, 71);
    margin: 20%;
}

html {
    background-color: rgb(102, 122, 71);
}

.burgerimg {

    height: 125px;
    width: 125px;
    position: relative;
    left: 43%;
}